<html>
<head>
<title>Annettes Blog</title>
</head>
<body>
<p>Juchuh!<p>
  <p>Es funktioniert???!!!!</p>
  </html>

  <html>
      <head>
          <title>Django Girls blog</title>
      </head>
      <body>
          <div>
              <h1><a href="">Django Girls Blog</a></h1>
          </div>

          <div>
              <p>published: 14.06.2014, 12:14</p>
              <h2><a href="">My first post</a></h2>
              <p>Langweiliges Geschreibsel.</p>
          </div>

          <div>
              <p>published: 14.06.2014, 12:14</p>
              <h2><a href="">My second post</a></h2>
              <p>Diesen Text habe ich mal selbstherrlich geändert.</p>
          </div>
      </body>
  </html>
